* {
	margin: 0;
	padding: 0;
}

*, :after, :before {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.markdown {
    color: #3b454e;
    padding: 1rem 0;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

table {
    width: 100%;
    margin: .5rem 0;
    border-spacing: 0;
    border: 1px solid #d3dce4;
    border-radius: 4px;
    display: block;
    overflow: auto;
    max-height: 83vh;
}

th, td {
    padding: .6rem;
    border-left: #d3dce4 1px solid;
    width: 1%;
}

th:first-child,
td:first-child {
    border-left: none
}
td {
    border-top: #d3dce4 1px solid;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
h1, h2, h3 {
    padding: 1rem 0 0.77rem;
    margin-top: 1rem;
    border-top: #d3dce4 1px solid;
}

h4, h5, h6 {
    padding: .5rem 0;
}

h1 { font-size: calc(1.375rem + 1.5vw) }
h2 { font-size: calc(1.325rem + .9vw) }
h3 { font-size: calc(1.3rem + .6vw) }
h4 { font-size: calc(1.275rem + .3vw) }
h5 { font-size: 1.25rem }
h6 { font-size: 1rem }

details {
    display: block;
}

details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}

summary {
    display: block;
    padding: 0;
    font-size: calc(1.275rem + .3vw);
    font-weight: 700;
    cursor: pointer;
}


hr {
    border: none;
    border-top: solid #d3dce4 1px;
    margin: 1rem 0;
}

p { padding: 8px 0 }

h1 b,
h2 b,
h3 b,
h4 b,
h5 b,
h6 b { font-weight: 800 }

b { font-weight: 700 }

dl, ol, ul { margin: 1rem 2rem }

dd, li { margin: 0 0 5px }

code, kbd, pre, samp {
    background: #eceff1;
    color: #212121;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img {
    max-height : 100%;
    max-width : 100%;
    width : auto;
    height : auto;
    margin: 0.5rem 0;
}

pre {
    padding: 4px 10px;
    margin: 0.6rem 0px;
    overflow-y: auto;
}

code {
    padding: 2px 6px;
    border-radius: 3px;
}

a, a *{
    color: #00a2e8;
    text-decoration: none;
    font-weight: 500;
}

blockquote {
    padding: 5px 1rem;
    margin: 0.3rem 0;
    border-left: #9e9e9e 4px solid;
}

.warning {
    border-left: #f44336 4px solid;
    color: #f44336;
}

.info {
    border-left: #2196f3 4px solid;
    color: #3f51b5;
}
.success {
    border-left: #00c853 4px solid;
    color: #009688;
}

div.success, div.warning, div.info {
    padding: 5px 1rem;
    margin: 1rem 0;
    display: block;
}

.light { font-weight: 300!important }
.center { text-align: center!important }
.uppercase { text-transform: uppercase!important }

.labels { color: #009688 }
.keywords { color: #ff5722 }
.numbers { color: #7e57c2 }
.models { color: #607d8b }
.classes { color: #d32f2f }
.commands { color: #0288d1 }
.directives { color: #607d8b }
.variables { color: #607d8b }
.strings,
.strings * { color: #009688 }
.comments,
.comments * { color: #616161 }

@media (min-width:576px) {
    .markdown { max-width: 540px }
}
@media (min-width:768px) {
    .markdown { max-width: 720px }
}
@media (min-width:992px) {
    .markdown { max-width: 960px }
}
@media (min-width:1200px) {
    .markdown { max-width: 1140px }
    h1 { font-size: 2.5rem }
    h2 { font-size: 2rem }
    h3 { font-size: 1.75rem }
    h4 { font-size: 1.5rem }
}
@media (min-width:1400px) {
    .markdown { max-width: 1320px }
}